.header
  border: 0.5px solid rgba(151,151,151, 0.66)
  &-menu
    background: $dark
    padding: 14px 0
    &__nav
      display: flex
      align-items: center
      gap: 46px
      .nft
        margin-left: 48px
      &-link
        color: #fff
        font: 400 16px/24px $mainFont
  &__wrap
    display: flex
    align-items: center
    justify-content: space-between
    padding: 25px 0
  &__logo
    max-width: 206px
    aspect-ratio: 206/46
  &__rightside
    width: 25%
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 92px
  &__item
    display: flex
    align-items: center
    justify-content: center
    border-radius: 16px
    border: 3px solid rgba(7,160,236, 1)
    width: 46px
    height: 46px
    &:hover
      background: #07A0EC
      svg
        fill: #fff
    svg
      width: 18px
      height: 18px
      fill: $blue
    &-wrap
      display: flex
      align-items: center
      justify-content: flex-end
      gap: 40px
  &__search
    //background: url("../images/search.svg") center/contain no-repeat
  &__wallet
    //background: url("../images/account_wallet.svg") center/contain no-repeat

.header-create-project
  &__logo
    width: 354px
    margin: 51px auto 0
    display: block
  &__menu
    display: flex
    align-items: center
    justify-content: flex-start
    background: #fff
    gap: 80px
    margin-top: 74px
    padding: 0 40px
    border-radius: 16px
    box-shadow: 0 19px 51px rgba(59,74,93, 0.205392), 0 6px 10px rgba(15,16,24, 0.144531)
    &-link
      color: rgba(74,74,74,1)
      font: 400 16px/24px $mainFont
    li
      padding: 40px 0
      height: 100%
      position: relative
      &.active::before
        position: absolute
        content: ''
        height: 7px
        background-color: $blue
        left: 0
        right: 0
        bottom: 0
      &.error
        button
          position: relative
          color: $red
          &::after
            content: ''
            background: url("../images/error_icon.svg") center center/contain no-repeat
            position: absolute
            width: 19px
            height: 18px
            top: 2px
            left: calc(100% + 7px)