.project
  &__title
    flex: 0 0 50%
    font: 400 48px/65px $mainFont
    &-wrap
      display: flex
      align-items: center
      justify-content: space-between
      gap: 30px
      padding-bottom: 87px
  &__desc
    flex: 0 0 33%
    color: #4A4A4A
    font: 400 16px/24px $mainFont
  &__data
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 30px
    color: #272727
    margin-bottom: 40px
  &__author
    display: flex
    align-items: center
    justify-content: flex-start
    flex: 0 0 25%
    &-img
      width: 36px
      height: 36px
      border-radius: 50%
      margin-right: 21px
    span
      color: #4a4a4a
    &-name
      font: 400 16px/24px $mainFont
      margin-left: 3px
  &__tag, &__location
    display: flex
    align-items: center
    justify-content: center
    gap: 8px
    &:before
      content: ''
      width: 16px
      height: 16px
      background-repeat: no-repeat
      background-size: contain
      background-position: center center
    &.tech:before
      background-image: url("../images/categories/tech.svg")
    &.business:before
      background-image: url("../images/categories/business.svg")
    &.game:before
      background-image: url("../images/categories/game.svg")
    &.other:before
      background-image: url("../images/categories/other.svg")
    &.photo:before
      background-image: url("../images/categories/photo.svg")
    &.sport:before
      background-image: url("../images/categories/sport.svg")
    &.crypto:before
      background-image: url("../images/categories/crypto.svg")
  &__tag
    flex: 0 0 120px
  &__location
    flex: 0 0 200px
    white-space: nowrap
    &:before
      background-image: url("../images/map.svg")
  &__navigation
    margin-left: auto
  &__slider
    margin-bottom: 60px
    overflow: hidden
  &__info
    border-radius: 16px
    background-color: rgba(255,255,255, 1)
    padding: 27px 27px 43px
    display: flex
    align-items: center
    margin-bottom: 87px
  &__collect
    width: 520px
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    margin-right: 116px
    font: 400 22px/24px $mainFont
    color: #8D8D8D
    &::before, .after
      content: ''
      position: absolute
      left: 0
      bottom: -23px
      height: 3px
    &::before
      right: 0
      background-color: rgba(0,0,0, 0.1)
    .after
      background-color: $blue
      width: 0
      z-index: 2
      transition: width 1s ease
    .current
      color: #000
      display: flex
      align-items: center
      justify-content: flex-start
      gap: 16px
      &::before
        content: ''
        width: 16px
        height: 16px
        background: url("../images/ton_symbol.svg") center no-repeat
    .from
      font: 400 18px/24px $mainFont
  &__time
    font: 400 22px/24px $mainFont
  &__support
    margin-left: auto
    border-radius: 23px
    font: 400 16px/20px $mainFont
    svg
      width: 16px
      height: 16px
      fill: #fff
  &__mainpart
    display: grid
    grid-gap: 30px
    grid-template-columns: 1fr 3fr
  &__sidebar
    padding-left: 60px
    &-nav
      display: flex
      flex-direction: column
      gap: 28px
    &-link
      color: #474747
      font: 400 16px/24px $mainFont
    &-li
      position: relative
      &::before
        width: 13px
        height: 20px
        position: absolute
        left: -33px
        top: 0
      &.info:before
        background: url("../images/project/project_info.svg") center/contain no-repeat
      &.roadmap:before
        background: url("../images/project/roadmap.svg") center/contain no-repeat
      &.news:before
        background: url("../images/project/comment.svg") center/contain no-repeat
      &.community:before
        background: url("../images/project/roadmap.svg") center/contain no-repeat
      &.award:before
        background: url("../images/project/reward.svg") center/contain no-repeat
      &.active
        &:before
          content: ''
        & .link
          font-weight: 500
      sup
        font: 400 14px/22px $mainFont
        display: inline-block
        padding-left: 5px
    &-info
      margin-top: 380px
    &-title
      font: 500 18px/24px $mainFont
      padding-bottom: 20px
      position: relative
      &::before
        content: ''
        position: absolute
        width: 14px
        height: 20px
        background: url("../images/lock_money.svg") center center/contain no-repeat
        left: -33px
        top: 0
    &-text
      color: #4A4A4A
  &__content
    width: 780px
    margin: 0 auto
    h2
      padding-bottom: 40px
      font-weight: 500
      &:not(:first-child)
        margin-top: 100px
    p
      font: 400 16px/28px $mainFont
      &:not(:last-of-type)
        padding-bottom: 1em
    img, picture, video
      width: 100%
      margin: 60px 0
.project-award
  border-radius: 9px
  border: 2px solid rgba(173,225,251, 1)
  padding: 22px 22px 62px
  display: flex
  gap: 60px
  margin-bottom: 80px
  &::before
    content: ''
    width: 36px
    height: 36px
    border-radius: 50%
    border: 11px solid rgba(7,160,236, 1)
    flex-shrink: 0
    box-sizing: border-box
  h4
    font-weight: 500
    padding-bottom: 12px
  .desc
    color: #4A4A4A
    padding-bottom: 50px
  &__form
    &-row
      display: flex
      align-items: center
      justify-content: flex-start
    &-label
      width: 23px
      height: 23px
      margin-right: 21px
      svg
        fill: rgba(7,160,236, 1)
    &-input
      background: transparent
      opacity: 1
      font: 400 32px/1 $mainFont
      color: rgba(0,0,0,1)
      position: relative
      padding: 13px 0
      width: 260px
      border-bottom: 1px solid rgba(82,82,82, 1)
      margin-right: 40px
.project-info
  padding: 22px 22px 50px
  background: #fff
  border-radius: 9px
  display: flex
  gap: 60px
  position: relative
  &::before
    content: ''
    border: 2px solid rgba(132,132,132, 1)
    width: 36px
    height: 36px
    flex-shrink: 0
    border-radius: 50%
    box-sizing: border-box
  h4
    font-weight: 500
    padding-bottom: 13px
  .description p
    color: #4A4A4A
    font: 400 14px/22px $mainFont
    &:not(:last-child)
      padding-bottom: 1em
  &__text
    width: 430px
  &__table
    margin-top: 40px
    width: 100%
    td
      white-space: nowrap
      color: #4A4A4A
      font: 400 16px/28px $mainFont
  &__row
    margin-top: 87px
    display: flex
    align-items: center
  &__currency
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 20px
    font: 400 32px/1 $mainFont
    margin-right: 100px
    svg
      fill: $blue
      width: 23px
      height: 23px
  &__support
    color: #4A4A4A
    font: 400 16px/28px $mainFont
  &__img
    position: absolute
    right: 40px
    top: 65px
    width: 154px
    height: 100px
    background: url("../images/image.svg") center/cover no-repeat
    border-radius: 4px